.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --main-title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --text-color: #353430;
  --title-color: var(--text-color, #353430);
  --sub-title-color: var(--text-color, #353430);
  --accent-color: #ff8dcb;
  --btn-hover-color: rgba(50, 49, 45, 0.40);
}

.page.theme_light .lightbulb {
  display: none;
}

@media (width < 1024px) {
  .page.theme_light {
    --title-shadow-color: #ff8dcb;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --text-color: #353430;
    --title-color: var(--text-color, #353430);
    --sub-title-color: var(--text-color, #353430);
    --accent-color: #ff8dcb;
    --btn-hover-color: rgba(50, 49, 45, 0.40);
  }

  @media (width < 1024px) {
    :root {
      --title-shadow-color: #ff8dcb;
    }
  }

  .lightbulb {
    display: none;
  }
}
