:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono';
  --main-title-color: #db00ff;
  --title-shadow-color: #ff0070;
  --title-color: var(--title-shadow-color, #ff0070);
  --sub-title-color: var(--bg-color, #000028);
  --text-color: #f1b2ce;
  --accent-color: var(--title-shadow-color, #ff0070);
  --btn-hover-color: rgba(255, 0, 112, 0.40);
  --base-gap: 10px;
}